USE [schoolmanager]
GO
/****** Object:  Table [dbo].[employees]    Script Date: 4/25/2026 12:55:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[employees](
	[id] [uniqueidentifier] NOT NULL,
	[code] [varchar](20) NOT NULL,
	[full_name] [nvarchar](100) NOT NULL,
	[date_of_birth] [date] NULL,
	[gender] [tinyint] NULL,
	[email] [varchar](100) NULL,
	[phone] [varchar](20) NULL,
	[address] [nvarchar](255) NULL,
	[user_id] [uniqueidentifier] NULL,
	[department_id] [uniqueidentifier] NULL,
	[position_id] [uniqueidentifier] NULL,
	[hire_date] [date] NULL,
	[contract_type] [nvarchar](100) NULL,
	[salary_coefficient] [float] NULL,
	[academic_degree] [nvarchar](100) NULL,
	[academic_title] [nvarchar](100) NULL,
	[specialization] [nvarchar](100) NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
	[deleted_at] [datetime] NULL,
	[is_active] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__employee__357D4CF986B7CD2C]    Script Date: 4/25/2026 12:55:52 PM ******/
ALTER TABLE [dbo].[employees] ADD UNIQUE NONCLUSTERED 
(
	[code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__employee__AB6E6164D3EA7C67]    Script Date: 4/25/2026 12:55:52 PM ******/
ALTER TABLE [dbo].[employees] ADD UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[employees] ADD  DEFAULT (newid()) FOR [id]
GO
ALTER TABLE [dbo].[employees] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[employees] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[employees]  WITH CHECK ADD  CONSTRAINT [fk_employee_department] FOREIGN KEY([department_id])
REFERENCES [dbo].[departments] ([id])
GO
ALTER TABLE [dbo].[employees] CHECK CONSTRAINT [fk_employee_department]
GO
ALTER TABLE [dbo].[employees]  WITH CHECK ADD  CONSTRAINT [fk_employee_position] FOREIGN KEY([position_id])
REFERENCES [dbo].[positions] ([id])
GO
ALTER TABLE [dbo].[employees] CHECK CONSTRAINT [fk_employee_position]
GO
ALTER TABLE [dbo].[employees]  WITH CHECK ADD  CONSTRAINT [fk_employee_user] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[employees] CHECK CONSTRAINT [fk_employee_user]
GO
