USE [schoolmanager]
GO
/****** Object:  Table [dbo].[employee_positions]    Script Date: 4/25/2026 12:57:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[employee_positions](
	[id] [uniqueidentifier] NOT NULL,
	[employee_id] [uniqueidentifier] NOT NULL,
	[position_id] [uniqueidentifier] NOT NULL,
	[start_date] [datetime] NOT NULL,
	[end_date] [datetime] NULL,
	[description] [nvarchar](255) NULL,
	[note] [nvarchar](500) NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
	[deleted_at] [datetime] NULL,
	[is_active] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[employee_positions] ([id], [employee_id], [position_id], [start_date], [end_date], [description], [note], [created_at], [updated_at], [deleted_at], [is_active]) VALUES (N'289fb550-6022-4bea-8fab-0b35f8e8cad0', N'ac803e9e-2153-4379-8b3d-580828ddaeac', N'447be57d-f8fe-4174-8422-cb4253be823a', CAST(N'2026-04-25T12:49:00.000' AS DateTime), CAST(N'2026-10-31T12:53:00.000' AS DateTime), N'', N'Nghỉ hưu', CAST(N'2026-04-25T12:49:56.207' AS DateTime), NULL, NULL, 1)
INSERT [dbo].[employee_positions] ([id], [employee_id], [position_id], [start_date], [end_date], [description], [note], [created_at], [updated_at], [deleted_at], [is_active]) VALUES (N'd5797e84-356a-40bc-b250-c03b0e011574', N'454b84fd-ce25-4a27-9a7b-2408e79fc009', N'0bd7a431-be49-4ee4-8452-173dd44a3aad', CAST(N'2026-04-25T12:45:00.000' AS DateTime), CAST(N'2026-08-22T12:45:00.000' AS DateTime), N'', N'Chuyển công tác cơ sỏ Dak Lak', CAST(N'2026-04-25T12:46:00.477' AS DateTime), NULL, NULL, 1)
INSERT [dbo].[employee_positions] ([id], [employee_id], [position_id], [start_date], [end_date], [description], [note], [created_at], [updated_at], [deleted_at], [is_active]) VALUES (N'3463fb09-e89b-4db0-bd25-d2b7330594af', N'1b692687-6615-427b-b02d-ee6987815a2a', N'0bd7a431-be49-4ee4-8452-173dd44a3aad', CAST(N'2026-04-01T12:45:00.000' AS DateTime), CAST(N'2026-04-25T12:45:00.000' AS DateTime), N'Bổ nhiệm chính thức', N'Hết hợp đồng', CAST(N'2026-04-25T12:31:43.927' AS DateTime), CAST(N'2026-04-25T12:45:26.853' AS DateTime), NULL, 0)
GO
ALTER TABLE [dbo].[employee_positions] ADD  DEFAULT (newid()) FOR [id]
GO
ALTER TABLE [dbo].[employee_positions] ADD  DEFAULT (getdate()) FOR [start_date]
GO
ALTER TABLE [dbo].[employee_positions] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[employee_positions] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[employee_positions]  WITH CHECK ADD  CONSTRAINT [fk_history_employee] FOREIGN KEY([employee_id])
REFERENCES [dbo].[employees] ([id])
GO
ALTER TABLE [dbo].[employee_positions] CHECK CONSTRAINT [fk_history_employee]
GO
ALTER TABLE [dbo].[employee_positions]  WITH CHECK ADD  CONSTRAINT [fk_history_position] FOREIGN KEY([position_id])
REFERENCES [dbo].[positions] ([id])
GO
ALTER TABLE [dbo].[employee_positions] CHECK CONSTRAINT [fk_history_position]
GO
